
html{
	background-color: #6BBA96;
	font-weight: bold;
}
/* :link:focus, :visited:focus { outline: none; } */

body {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #6BBA96;
	/*
	cursor: pointer;
	*/
	font-weight: bold;
	overflow-x:hidden;
	overflow-y:hidden;
}

#getfocus {
	/*
	position: absolute;
	top: 100px;
	*/
	/* z-index:-1; */
}

input:disabled{
	filter:alpha(opacity=80);
	opacity:0.5;
}

table, th, td {
    /*
	border: 1px solid black;
    border-collapse: collapse;
    */
	text-align:center; 
	height:50px;
	font-size: 25px;
	font-weight: bold;
	color: black;
}

th, td {
	padding: 5px;
}

.sub_menu_3{
	border: 1px solid black;
}
.control_sub{
	border: 1px solid black;
}
.airgun_sub{
	border: 1px solid black;
}
.config_sub{
	border: 1px solid black;
}
.menu_sub_4{
	border: 1px solid black;
}

#progress_dlg{
	background-color: #6BBA96;
}

.ui-tooltip {
	width: 210px;
}

/* message_alert_dlg */
#message_alert_dlg{
	background-color: #6BBA96;
}

/* pass_alert_content */
#alert_content{
	font-size: 40px;
	font-weight: bold;
}

#message_alert_btn{
	position: relative;
	float: right;
	width: 200px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
/* message_alert_dlg */

/* validate dialog start */
#validate_dlg {
	background-color: #6BBA96;
}

#validate_table {
	position: absolute;
	top: 100px;
	left: 20px;
}

.validate_pass{
	width: 250px;
	height:40px;
	font-size: 20px;
	font-weight: bold;
}

.validate_inputs {
	text-align:center;
	width: 250px;
	height:40px;
	font-weight: bold;
}

.valid_title{
	text-align: right;	
}

.date_toggles{
	text-align: center;
	height: 50px;
	width: 200px;
}
/* validate dialog end */

button:disabled {
	filter:alpha(opacity=50);
	opacity:0.5;
}
input[type="button"]{
	background: #6DCBB0;
}
button{
	background: #6DCBB0;
	font-weight: bold;
}
/*
input:focus{
	background-color: #04B486;
}
*/
.ui-tooltip{
	width:150px;
}

.no-close .ui-dialog-titlebar-close { display: none }

input{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-appearance: none;
}

input:read-only { 
    text-align:center;
}

input[type="text"]{
	font-size: 30px;
	font-weight: bold;
	color: #F8FBEF;
	width:206px;
	height:50px;
	text-align: center;
	border: 1px solid #6BBA96;	
	background-color: #04B486;
}

input.Adv_Dlg_text{
	font-size: 1em;
	font-weight: bold;
	color: #F8FBEF;
	width:230px;
	height:40px;
	text-align: center;
	border: none;
	background-color: #6DCBB0;
	margin: 1px;
}

.ui-progressbar {
	position: relative;
	color: #2EFE2E;
}
.progress-label {
	color: #2EFE2E;
	position: absolute;
	left: 45%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
  
.check{
	font-size: 1em;
	font-weight: bold;
	color: #F8FBEF;
	width:125px;
	height:35px;
	
}

.step-img{
	width: 20px;
	height: 20px;
}

#AckNack_label{
	position: absolute;
	top: 650px;
	left: 50px;
}
#AckNack{
	position: absolute;
	top: 640px;
	left: 135px;
	width:85px; 
	height:30px;
}

.main_bts{
	position: absolute;
	top: 693px;
	left: 11px;
}

.main_bt{
	font-weight: bold;
	width: 191px;
	height: 67px;
	background: #6DCBB0;
}

/* mode_init_dialog start */
#mode_init_dlg{
	background: #6DCBB0;
	font-size: 25px;
	font-weight: bold;
}
/* mode_init_dialog end */

/* Feed Dialog Start*/
#Feed_Dlg{
	background: #6DCBB0;
}
#Feed_Dlg_Ack{
	width:120px; 
	height:60px; 
}
#Feed_Dlg_Adv{
	font-size: 25px;
	width:279px; 
	height:65px; 
	position:absolute; 
	top:10px;
	color: black;
	background: #6DCBB0;
	font-weight: bold;
}
.feed_arrow_bt_div{
	text-align: center;
}

#Feed_Dlg_slider{
	position:relative;
	left: 20px;
}
#Feed_Dlg_val{
	position:relative; 
	top:-30px;
	width: 150px; 
	height:60px; 
	text-align:center;
	background: #6DCBB0;
	font-size: 30px;
	font-weight: bold;
	color: white;
}
#Feed_Dlg_ok{
	font-size: 25px;
	width:201px;
	height:65px;
}
#Feed_Dlg_cancel{
	font-size: 25px;
	width:201px;
	height:65px;
}
/* Feed Dialog End*/

/* Defect Dialog Start */
#Defect_Dlg{
	background: #6DCBB0;
}
#Defect_Dlg_Ack{
	width:120px; 
	height:60px;
}
#Defect_Dlg_Adv{
	font-size: 25px;
	width:279px; 
	height:65px; 
	position:absolute; 
	top:10px;
	color: black;
	background: #6DCBB0;
	font-weight: bold;
}
.defect_arrow_bt_div{
	text-align: center;
}
#Defect_Dlg_val{
	position:relative; 
	top:-30px;
	width: 150px; 
	height:60px; 
	text-align:center;
	background: #6DCBB0;
	font-size: 30px;
	font-weight:bold;
	color: white;
}
#Defect_Dlg_slider{
	position:relative;
	left: 20px;
}
#Defect_Dlg_ok{
	font-size: 25px;
	width:201px;
	height:65px;
}
#Defect_Dlg_cancel{
	font-size: 25px;
	width:201px;
	height:65px;
}
/* Defect Dialog End */

/* Defect Pxl Dialog Start */
#Defect_Pxl_Dlg{
	background: #6DCBB0;
}
#Defect_Pxl_Dlg_Ack{
	width:120px; 
	height:60px;
}
#Defect_Pxl_Dlg_Adv{
	font-size: 25px;
	width:279px; 
	height:65px; 
	position:absolute; 
	top:10px;
	color: black;
	background: #6DCBB0;
	font-weight: bold;
}
.defect_pxl_arrow_bt_div{
	text-align: center;
}
#Defect_Pxl_Dlg_val{
	position:relative; 
	top:-30px;
	width: 150px; 
	height:60px; 
	text-align:center;
	background: #6DCBB0;
	font-size: 30px;
	font-weight:bold;
	color: white;
}
#Defect_Pxl_Dlg_slider{
	position:relative;
	left: 20px;
}
#Defect_Pxl_Dlg_ok{
	font-size: 25px;
	width:201px;
	height:65px;
}
#Defect_Pxl_Dlg_cancel{
	font-size: 25px;
	width:201px;
	height:65px;
}
/* Defect Pxl Dialog End */

/* RGB Dialog Start */
#RGB_Dlg{
	background: #6DCBB0;
}
#RGB_ONOFF{
	width:120px; 
	height:65px;
	color: black;
	font-weight: bold;
	background: #6DCBB0;
	font-size: 30px;
}
#RGB_Dlg_val{
	position:relative; 
	top:-30px;
	width: 150px; 
	height:60px; 
	text-align:center;
	background: #6DCBB0;
	font-size: 30px;
	font-weight:bold;
	color: white;
}
#RGB_Dlg_Adv{
	font-size: 25px;
	width:279px; 
	height:65px; 
	position:absolute; 
	top:10px;
	background: #6DCBB0;
	font-weight: bold;
}
#RGB_Dlg_slider{
	position:relative;
	left: 20px;
}
.RGB_Arrow_bt_div{
	text-align: center;
}
#RGB_Dlg_ok{
	font-size:25px;
	width:201px;
	height:65px;
}
#RGB_Dlg_cancel{
	font-size:25px;
	width:201px;
	height:65px;
}
/* RGB Dialog End */

/* help dlg start */
#help_dlg{
	background: #6BBA96;
	font-size:30px;
	font-weight: bold;
}
.help_bts{
	font-weight: bold;
	background: #6DCBB0;
}
#help{
	position: absolute;
	left: 0px;
	background: #6DCBB0;
	font-size: 30px;
}

#my-ip-wired{
	color: black;
	width:400px;
	height: 70px;
	background: #6BBA96;

}
#my-ip-wireless{
	color: black;
	width:400px;
	height: 70px;
	background: #6BBA96;

}

#ip1_title{
	position: absolute;
	top: 20px;
	left: 240px;
}
#ip2_title{
	position: absolute;
	top: 120px;
	left: 195px;
}
/*
#help-set{
	color: black;
	width:530px;
	height: 70px;
	position: absolute;
	top: 230px;
	left: 240px;
}
*/

#help-man{
	color: black;
	width:530px;
	height: 70px;
	position: absolute;
	top: 330px;
	left: 240px;
}
#help-exit{
	color: black;
	width:530px;
	height: 70px;
	position: absolute;
	top: 430px;
	left: 240px;
}
/* help dlg end */

#eject{
	position: absolute;
	left: 202px;
	font-size: 30px;
}
#feed{
	position: absolute;
	left: 404px;
	font-size: 30px;
}

.top_menu{
	position: absolute;
	top: 11px;
	left: 11px;
}

#menu_title_3{
	margin-top: 8px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}

#menu_3{
	/*text-align: middle;*/
	color: black;
}

#menu_3_div{
	position: absolute;
	top: 692px;
	left: 615px;
	border-style:outset;
}

#menu_sub_3{
	font-size: 40px;
	font-weight: bold;
	z-index:999;	
}

#menu_title_4{
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin-top: 8px;
}

#menu_4{
	text-align:center;
	color: black;
}

#menu_4_div{
	border-style:outset;
	position: absolute;
	top: 692px;
	left: 820px;
}

#menu_sub_4{
	font-size: 40px;
	font-weight: bold;
	z-index:999;
}

#account_list_input{
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	width: 349px;
	height: 50px;
	background: #6DCBB0;
}

#mode_list_input{
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 361px;
	width: 349px;
	height: 52px;
	background: #6DCBB0;
}

.account_list_top{
	position:absolute; 
	top: 0px;
	text-align: center;
	color: black;
	/*
	border-style:outset;
	*/
	
}

/*
.account_list_top_menu li { padding: 5px 10px; z-index: 2; }
.account_list_top_menu li:not(.init) { float: left; width: 325px; display: none; background: #fff; }
.account_list_top_menu li:not(.init):hover, .account_list_top_menu li.selected:not(.init) { background: #6DCBB0; }
.account_list_top_menu li.init { cursor: pointer; }
*/

.main_menu{
	z-index: 0px;
}

dl {
	text-align: center;
}

.account_list_top_menu dd { 
	padding: 5px 10px; 
	position: relative;
	top:0px;
	left:-30px;
	text-align: center;
	/* z-index: 9999; */
	
}

.account_list_top_menu dd:not(.init) { float: left; width: 315px; display: none; background: #fff;}
.account_list_top_menu dd:not(.init):hover, .account_list_top_menu dd.selected:not(.init) { background: #6DCBB0; }
.account_list_top_menu dd.init { cursor: pointer; }

dd a {  text-decoration:none; z-index: 999px;}
dd a:hover {  text-decoration:none; z-index: 999px;}
dd a:focus {  text-decoration:none; z-index: 999px;} 
dd a:active {  text-decoration:none; z-index: 999px;}

.account_list_top_menu {
	border-style:outset;
	position: absolute;
	top: -33px;
	padding: 0px;
	font-size: 33px;
	color: black;
	text-align: center;
	width: 345px;
	height: 47px;
	background: #6DCBB0;
}

/*
.account_list_sub {
	border: 1px solid black;
	width: 294px;
	height: 40px;
	font-size: 30px;
}
*/
/*
.mode_list_top_menu li { padding: 5px 10px; z-index: 2; }
.mode_list_top_menu li:not(.mode_init) { float: left; width: 325px; display: none; background: #fff; }
.mode_list_top_menu li:not(.mode_init):hover, .mode_list_top_menu li.selected:not(.mode_init) { background: #6DCBB0; }
.mode_list_top_menu li.init { cursor: pointer; }
*/

.mode_list_top_menu li { 
	padding: 5px 10px; 
	position: relative;
	top:0px;
	left:0px;
	text-align: center;
	z-index: 100;
	list-style: none;
}
.mode_list_top_menu li:not(.mode_init) { float: left; width: 325px; display: none; background: #fff; }
.mode_list_top_menu li:not(.mode_init):hover, .mode_list_top_menu li.selected:not(.mode_init) { background: #6DCBB0; }
.mode_list_top_menu li.init { cursor: pointer; }

.mode_list_top{
	position: absolute;
	top: 0px;
	left: 361px;
	text-align: center;
	color: black;
	/* border-style:outset; */
}

.mode_list_top_menu{
	/*
	padding: 0px;
	font-size: 33px;
	color: black;
	text-align: center;
	*/
	border-style:outset;
	position: absolute;
	top: -33px;
	padding: 0px;
	font-size: 33px;
	color: black;
	text-align: center;
	width: 345px;
	height: 47px;
	background: #6DCBB0;
}

/*
.mode_list_sub {
	border: 1px solid black;
	width: 294px;
	height: 40px;
	font-size: 30px;
}
*/
/* Anonym Dialog start */
#anonym_dlg{
	background:#6BBA96;
}
.anonym_bts_div{
	position: absolute;
	top: 50px;
	left: 65px;
	font-size: 40px;
}
.anonym_bts{
	width:280px;
	height:60px;
	margin-bottom: 20px;
	font-weight: bold;
	background-color: #6DCBB0;
}
/* Anonym Dialog End */

/* Password Input Dialog Start */
#pass_input_dlg{
	background:#6BBA96;
	color: black;
}
#pass_input{
	width: 250px;
}
.pass_input0_div{
	font-size: 30px;
	text-align: center;
	margin: 40px 0px;
}
.pass_input_bts_div{
	/*position: absolute;
	left: 50px;
	top: 140px;*/
	font-size: 30px;
	text-align: center;
}
.pass_input_bts{
	width: 200px;
	height: 50px;
	margin: 10px 0px;
}
/* Password Input Dialog End */

/* Password Dialog Start */
#password_dlg{
	background:#6BBA96;
	color: black;
}
.pass_input_div{
	position: absolute;
	top: 80px;
	left: 80px;
	font-size: 40px;
	font-weight: bold;
	text-align: right;
}
.pass_inputs{
	margin: 10px;
	width:270px;
	height:50px;
	font-weight: bold;
}
.pass_bts_confirm_div{
	position: absolute;
	top: 330px;
	left: 487px;
	font-size: 35px;
}
.pass_bts{
	width:200px;
	height:50px;
	font-weight: bold;
	background-color: #6DCBB0;
}
.pass_bts_init_div{
	position: absolute;
	top: 430px;
	left: 140px;
	font-size: 30px;
	font-weight: bold;
}

.pass_init_bts{
	width:220px;
	height:60px;
	font-weight: bold;
	background-color: #6DCBB0;
}
#pass_change_content{
	font-size: 25px;
	font-weight: bold;
}
#alert_dlg{
	background:#6BBA96;
	z-index: 1000px;
}
.alert_bts_div{
	font-size: 30px;
	float: right;
} 
.alert_bts{
	font-weight: bold;
	width:180px;
	height:50px;
	background-color: #6DCBB0;
}
#alert_message{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: red;
}
/* Password Dialog End */

#date{
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border:1px soild #04B486;
	background-color: #6BBA96;
	margin: 1px;
	
	width: 283px;
	height:44px;
	position: absolute;
	top: 0px;
	left: 718px;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

#Feed_Adv_Dlg{
	background-color: #6BBA96;
	font-size: 25px;
	font-weight:bold;
}

.feed_titles_1{
	text-align: center;
	color: blue;
	margin:5px;
	font-weight: bold;
}

.feed_titles_2{
	text-align: center;
	color: blue;
	margin:5px;
	font-weight: bold;
}

.adv_feed_div {
	float:left; 
	margin-right: 11px;
}

.adv_feed_1_4 {
	position: absolute;
	top: 10px;
	left: 19px;
}

.adv_feed_5_8 {
	position: absolute;
	top: 280px;
	left: 19px;
	margin: 1px;
}

.adv_feed_1_4 .Adv_Feed_individual_value {
	position:relative;
	top: -15px;
	width: 80px;
	height: 48px;
	text-align:center;
	background: #6BBA96;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.adv_feed_5_8 .Adv_Feed_individual_value {
	position:relative;
	top: -15px;
	width: 80px;
	height: 48px;
	text-align:center;
	background: #6BBA96;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

/* Adv feed dialog up_down button */
.feed_value_down{
	position: relative;
	top: 6px;
	width: 60px;
	height: 60px;
}
.feed_value_up{
	position: relative;
	top: 6px;
	width: 60px;
	height: 60px;
}
/* Adv feed value up down end */

input.Adv_Feed_info_1{
	font-size: 1em;
	font-weight: bold;
	color: white;
	width:91px;
	height:70px;
	text-align: center;
	border: none;	
	background-color: #04B486;
}

input.Adv_Feed_info_2{
	font-size: 1em;
	font-weight: bold;
	color: white;
	width:91px;
	height:70px;
	text-align: center;
	border: none;	
	background-color: #04B486;
}

.enable_disable {
	background: #FF00000;
	width:230px;
	height:40px;
	margin: 1px;
	color: black;
	font-weight: bold;
}

#Adv_feed_manual_auto{
	position: absolute;
	top: 550px;
	left: 20px;
	width: 960px;
	height: 50px;
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
}

#Adv_feed{
	left: 100px;
}

.Arrow_bt{
	width: 80px;
	height: 80px;
}
.Arrow_bt_div{
	text-align: center;
}

.Feed_Adv_Dlg_Individual_bt{
	text-align: center;
	width: 100px;
	height: 45px;
}

.confirm {
	width: 150px;
	height: 60px;
	background: #6DCBB0;
	font-weight: bold;
}

/* Camera_Adv_Dialog value start */
.camera_titles {
	text-align: center;
	color: black;
	font-weight: bold;
} 

.camera_a1_a4{
	position: absolute;
	left: 10px;
}
.camera_a5_a8{
	position: absolute;
	top: 150px;
	left: 10px;
}
.camera_b1_b4{
	position: absolute;
	top: 300px;
	left: 10px;
}
.camera_b5_b8{
	position: absolute;
	top: 450px;
	left: 10px;
}

#Camera_Adv_Dlg{
	background: #6DCBB0;
}
#Camera_Adv_Dlg .Adv_camera_value {
	position: relative;
	top: -23px;
	background: #6BBA96;
	width: 100px;
	height: 47px;
	font-weight:bold;
	color: white;
}

.Camera_adv_div {
	float: left;
	margin: 10px;
}

.adv_cam_value_down{
	/*
	position: relative;
	top: 6px;
	*/
	width: 60px;
	height: 60px;
	margin-right: -5px;
}

.adv_cam_value_up{
	/*
	position: relative;
	top: 6px;
	*/
	width: 60px;
	height: 60px;
	margin-left: -5px;
}
/* Camera_Adv_Dialog value end */

/* Adv feed sub Dialog value start */
.Adv-feed-sub {
	position: absolute;
	top:10px;
	left: 142px;
}

#Adv_Feed_value{
	position: absolute;
	left: 60px;
}

/* adv rgb sub value start */
.Adv-rgb-sub{
	position: absolute;
	top:10px;
	left: 142px;
}

#Adv_camera_value_down{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
}
#Adv_camera_value_up{
	position: absolute;
	top: 0px;
	left: 178px;
	width: 50px;
	height: 50px;
}
#Adv_Sub_camera_value{
	position: absolute;
	left: 60px;
}
/* adv rgb sub value end */

/* ejecting sub dialog bt */
.Adv-ejecting-div{
	position: absolute;
	top: 10px;
	left: 142px;
}

#Adv_ejecting_value_down{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
}
#Adv_ejecting_value_up{
	position: absolute;
	top: 0px;
	left: 178px;
	width: 50px;
	height: 50px;
}
#Adv_Sub_ejecting_value{
	position: absolute;
	left: 60px;
}

#step_div{
	position: absolute;
	top: 72px;
	left: 372px;
}

#step-1st{
	position: absolute;
	top: 0px;
	left: 0px;
}
#step-2nd{
	position: absolute;
	top: 0px;
	left: 217px;
}
#step-3rd{
	position: absolute;
	top: 0px;
	left: 434px;
}

/* feed title and value start */
.feed_main{
	position: absolute;
	top: 142px;
	left: 372px;
}

.feed_main_text{
	text-align:center; 
	height:47px; 
	width:204px; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486;
	color: black;
}

#feed_title{
	position: absolute;
	left: 0px;
}
#Feed_val{
	position: absolute;
	left: 217px;
}
#feed_unit{
	position: absolute;
	left: 434px;
}
/* feed title and value end */

/* defect title and value start */
.defect{
	position: absolute;
	top: 264px;
	left: 372px;
}
.defect_main_text{
	text-align:center; 
	height:47px; 
	width:204px; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486;
	color: black;
}
#defect_size{
	position: absolute;
	left: 0px;
}
#Defect_val{
	position: absolute;
	left: 217px;
}
#defect_pxl{
	position: absolute;
	left: 434px;
}
/* defect title and value end */

/* RGB HEAD title start */
.rgb_head_title{
	position: absolute;
	top: 203px;
	left: 372px;
}
.rgb_head_title_text{
	text-align:center; 
	height:47px; 
	width:204px; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486;
	color: black;
}
#rgb-defect{
	position: absolute;
	left: 0px;
}
#rgb-spot{
	position: absolute;
	left: 217px;
}
#rgb-color{
	position: absolute;
	left: 434px;
}
/* RGB HEAD title end */

/* rgb b dark, light start */ 
.rgb_b{
	position: absolute;
	top: 325px;
	left: 372px;
}

#rgb_text_b{
	position: absolute;
	left: 0px;
	width: 137px;
	height: 108px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}

#rgb_text_b_d{
	position: absolute;
	top: 0px;
	left: 150px;
	width: 54px;
	height: 47px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}
#rgb_text_b_l{
	position: absolute;
	top: 61px;
	left: 150px;
	width: 54px;
	height: 47px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}

#B_D_S{
	position: absolute;
	left: 217px;
} 
#B_D_C{
	position: absolute;
	left: 434px;
}

#B_L_S{
	position: absolute;
	top: 61px;
	left: 217px;
} 
#B_L_C{
	position: absolute;
	top: 61px;
	left: 434px;
}
/* rgb b dark, light end */ 

/* rgb r dark, light start */ 
.rgb_g{
	position: absolute;
	top: 447px;
	left: 372px;
}

#rgb_text_g{
	position: absolute;
	left: 0px;
	width: 137px;
	height: 108px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}

#rgb_text_g_d{
	position: absolute;
	top: 0px;
	left: 150px;
	width: 54px;
	height: 47px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}
#rgb_text_g_l{
	position: absolute;
	top: 61px;
	left: 150px;
	width: 54px;
	height: 47px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}

#G_D_S{
	position: absolute;
	left: 217px;
} 
#G_D_C{
	position: absolute;
	left: 434px;
}

#G_L_S{
	position: absolute;
	top: 61px;
	left: 217px;
} 
#G_L_C{
	position: absolute;
	top: 61px;
	left: 434px;
}
/* rgb g dark, light end */ 

/* rgb r dark, light start */
.rgb_r{
	position: absolute;
	top: 569px;
	left: 372px;
}

#rgb_text_r{
	position: absolute;
	left: 0px;
	width: 137px;
	height: 108px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}

#rgb_text_r_d{
	position: absolute;
	top: 0px;
	left: 150px;
	width: 54px;
	height: 47px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}
#rgb_text_r_l{
	position: absolute;
	top: 61px;
	left: 150px;
	width: 54px;
	height: 47px;
	
	text-align:center; 
	font-weight:bold; 
	font-size:30px; 
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}

#R_D_S{
	position: absolute;
	left: 217px;
} 
#R_D_C{
	position: absolute;
	left: 434px;
}

#R_L_S{
	position: absolute;
	top: 61px;
	left: 217px;
} 
#R_L_C{
	position: absolute;
	top: 61px;
	left: 434px;
}
/* rgb r dark, light end */

.feed_all{
	text-align: center;
}

/* Ejecting Control Dialog start */
#Ejecting_Control_Dlg{
	text-align: center;
	font-weight: bold;
	background-color: #6BBA96;
}
.ejecting_control_btn_d{
	position: relative;
	width:70px; 
	height:70px;
}
.ejecting_control_btn_u{
	position: relative;
	width:70px; 
	height:70px;
}
.Ejecting_val{
	position: relative;
	top: -30px;
	width:80px; 
	height:60px;
	font-size: 30px;
	font-weight: bold;
	
	background-color:#6BBA96; 
	border:2px soild #04B486; color:black;
}
.delay_div{
	position: absolute;
	top: 10px;
	left: 80px;
}
.head_div{
	position: absolute;
	top: 180px;
	left: 80px;
}
.hold_div{
	position: absolute;
	top: 350px;
	left: 80px;
}

.delay_1{
	float: left;
	margin:20px;
}
.delay_2{
	float: left;
	margin:20px;
}

.delay_3{
	float: left;
	margin:20px;
}

.head_1{
	float: left;
	margin:20px;
}
.head_2{
	float: left;
	margin:20px;
}
.head_3{
	float: left;
	margin:20px;
}

.hold_1{
	float: left;
	margin:20px;
}

.hold_2{
	float: left;
	margin:20px;
}

.hold_3{
	float: left;
	margin:20px;
}

/* ejecting values */
.delay_val{
	position: relative;
	top: -50px;
}
.head_val{
	position: relative;
	top: -50px;
}
.hold_val{
	position: relative;
	top: -50px;
}
/* Ejecting Control Dialog End */

/* Cleaning Dialog Start*/
#Cleaning_Dlg{
	background-color: #6BBA96;
}
.clean_titles{
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	top: 100px;
	left: 30px;
}

#clean-auto-title{
	position: absolute;
	top:0px;
	left: 240px;
}
#clean-cycle-title{
	position: absolute;
	top: 90px;
	left: 100px;
}
#clean-manual-title{
	position: absolute;
	top:180px;
	left: 170px;
}

.auto{
	font-weight: bold;
	position: absolute;
	top: 138px;
	left: 430px;
}
#clean-auto-btn{
	position: absolute;
	top:0px;
	left: 0px;
	width: 300px;
	height: 50px;
	font-size: 30px;
	background: #F8FBEF;
	font-weight: bold;
}

.Cycle{
	font-weight: bold;
	position: absolute;
	top: 220px;
	left: 430px;
}
#Cycle{
	position: absolute;
	top: 5px;
	left: 100px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	width:100px;
	height:56px;
	text-align: center;
	background: #04B486;
	border: 0px;
}

#Cleaning_cycle_value_down{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70px;
	height: 70px;
}

#Cleaning_cycle_value_up{
	position: absolute;
	top: 0px; 
	left: 230px;
	width: 70px;
	height: 70px;
}

.Manual{
	position: absolute;
	top: 320px;
	left: 430px;
}
#clean-title-manual{
	position: absolute;
	top:0px;
	left: 0px;
	width: 300px;
	height: 50px;
	font-size: 30px;
	background: #6DCBB0;
	font-weight: bold;
}
/* Cleaning Dialog End*/

/* Lighting Dialog Start */
#Lighting_Dlg{
	background-color: #6BBA96;
}

.all_toggle{
	position: absolute;
	top:40px;
	left:10px;
}
.light_all_bt{
	margin: 10px;
	width: 100px;
	height: 50px;
}

.light_on_bt{
	color: black;
	font-weight: bold;
}
.A1{
	position: absolute;
	top:10px;
	left:150px;
}

.A2{
	position: absolute;
	top:10px;
	left:390px;
}

.A3{
	position: absolute;
	top:10px;
	left:630px;
}

.B1{
	position: absolute;
	top:280px;
	left:150px;
}

.B2{
	position: absolute;
	top:280px;
	left:390px;
}

.B3{
	position: absolute;
	top:280px;
	left:630px;
}

.light_title{
	text-align: center;
	font-weight: bold;
	margin: 10px;
	color: black;
}

.light_bt{
	position: relative;
	top: 10px;
}

.light_on_bt{
	width: 220px; 
	height: 60px;
	/*margin-top: 5px;*/
}

.light_val_bt{
	width:70px;
	height:70px;
	margin-top: 5px;
}

input.light_val{
	position: relative;
	top: -28px;
	font-size: 30px;
	font-weight: bold;
	color: #F8FBEF;
	width:70px;
	height:53px;
	text-align: center;
	background-color:#6BBA96; 
	border:1px soild #04B486; color:black;
	/*margin-top: 5px;*/
}

input.light_state{
	font-size: 30px;
	font-weight: bold;
	color: #F8FBEF;
	width:220px;
	height:60px;
	text-align: center;
	background-color:#6BBA96; 
	border:1px soild #04B486; color:black;
}
/* Lighting Dialog End */

/* step text start */
#camera_step_a1, #camera_step_a2, #camera_step_a3, #camera_step_a4, #camera_step_a5, #camera_step_a6, #camera_step_a7, #camera_step_a8{
	width: 110px;
}

#camera_step_b1, #camera_step_b2, #camera_step_b3, #camera_step_b4, #camera_step_b5, #camera_step_b6, #camera_step_b7, #camera_step_b8{
	width: 110px;
}
/* step text end */

/* Camera on off dialog start */
#Camera_Onoff_Dlg {
	background: #6BBA96;
}
/* Camera on off dialog end */

#md-cam-title-a {

	margin: 0px;
	font-size: 25px;
	font-weight: bold;
}
#md-cam-title-b {
	margin: 0px;
	font-size: 25px;
	font-weight: bold;
}
.md-rgb-a {
	position: absolute;
	top: 50px;
	left: 200px;
}
.check-rgb-a {
	width: 125px;
	height: 70px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}
.md-rgb-b {
	position: absolute;
	top: 140px;
	left: 200px;
}
.check-rgb-b {
	width: 125px;
	height: 70px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}

.camera_onoff_titles {
	text-align: center;
	color: black;
	margin:10px;
	font-weight: bold;
	font-size: 30px;
}

.camera_onoff {
	width: 110px;
	height: 70px;
	background: #6DCBB0;
	color: black;
	font-weight: bold;
	font-size: 30px;
	margin: 6px;
}

.cam_a1_a8{
	position: absolute;
	top: 250px;
	left: 10px;
}
.cam_b1_b8{
	position: absolute;
	top: 390px;
	left: 10px;
}
/* Camera on off dialog end */

/* Model dialog start */
#Model_Dlg {
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	background-color: #6BBA96;
}

.md-color {
	
}
#md-color{ 
	color: white;
	width:805px; 
	height:80px;
	color: white;
	font-size: 40px;
	font-weight: bold;
	background: #6DCBB0;
}

#md-color-title {
	font-size: 30px;
	font-weight: bold;
}

#md-nir-title{
	font-size: 30px;
	font-weight: bold;
}

#md-stage-title {

	font-size: 30px;
	font-weight: bold;
}

#md-channel-title {
	font-size: 30px;
	font-weight: bold;
}

.md-nir {

}

#md-nir {

	color:white; 
	width:805px; 
	height:80px;
	font-size: 40px;
	font-weight: bold;	
	background: #6DCBB0;
}

.md-stage {

}

#md-stage {
	color:white; 
	width:805px; 
	height:80px;
	font-size: 40px;
	font-weight: bold;
	background: #6DCBB0;
}

.md-channel {

}

.channel_btn {
	font-weight: bold;
	color: black;
	width: 91px;
	height: 70px;
	background: #6DCBB0;
}

.md-step{

}

#md-step-title{

	font-size: 30px;
	font-weight: bold;
}

/* Model dialog end */

/* Airgun dialog start */
#airgun_dlg{
	background-color: #6BBA96;
	color: black;
}

.push_bts{
	width:240px;
	height:90px;
	font-weight: bold;
	background-color: #6DCBB0;
	color: black;
}

#back {
	width: 800px;
	height: 500px;
	position:absolute;
	top: 11px;
	left: 0px;
	z-index:0;
}

.airgun_check { 
	position: absolute;
	top: -30px;
	left: 11px;
	margin-top: 58px;
	padding: 2px;
	font-size: 22px;
}
.push_bt {
	position:absolute;
	top: 515px;
	font-size: 30px;
}

#manual_auto {
	position:absolute;
	left: -12px;
}
#clear {
	position:absolute;
	left: 237px;
}
#marking {
	position:absolute;
	left: 484px;
}
#start_stop {
	position:absolute;
	left: 732px;
}

.rgb {
	text-align: center;
	position: absolute;
	top: -10px;
	left: 810px;
	font-weight: bold;
}

#air-type {
	position: absolute;
	top: 5px;
}

#air-part {
	position: absolute;
	top: 135px;
}

#type, #part {
	width: 180px;
	height: 45px;
	font-size:20px;
	font-weight: bold;
	background-color: #6DCBB0;
}

.chute {
	position: absolute;
	top: 270px;
}
.channel {
	position: absolute;
	top: 468px;
}
#channel_title {
	text-align: center;
	position: absolute;
	top: -70px;
	left: 42px;
}
#channel_down {
	position: absolute;
	top: -10px;
	left: -5px;	
}
#channel_up {
	position: absolute;
	top: -10px;
	left: 126px;
}
#channel_val {
	position: absolute;
	top: -7px;
	left: 60px;
	width:58px; 
	height:46px;
	background-color:#6BBA96; 
	border:1px soild #04B486; color:black;
	font-weight: bold;
}
.channel_button {
	width:60px;
	height:60px;
}
#check-shutdown {
	text-align: center;
	width: 150px;
}

#user {
	position: absolute;
	top: 72px;
	left: 11px;
	width: 350px;
	height: 350px;
	/* border: 2px solid #04B486; */
}

fieldset{ 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.325em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    border: 2px groove (internal value);
}

#user_dlg{
	background-color: #6BBA96;
	text-align: center;
}	

#user_name_input{
	width: 350px;
	height: 50px;
}

.user_bts{
	width: 150px;
	height: 50px;
	font-weight: bold;
}

.user_info{
	position: absolute;
	top: 440px;
	left: 11px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}
#user_name_input{
	margin-top: 11px;
	font-size: 30px;
}
#username_title {
	
}
#username {
	font-size: 25px;
	width: 320px;
	height: 50px;
	font-weight: bold;
	text-align: center;
	border:1px soild #04B486;
	background-color: #6BBA96;
}

#shutdown_dlg{
	background-color: #6BBA96;
}

#highlight_img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

#err_img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

#air_err_dlg {
	background-color: #6BBA96;
}

#clean_err_dlg {
	background-color: #6BBA96;
}

#chute_err_dlg {
	background-color: #6BBA96;
}

.clean_err_div {
	text-align: center;
	font-size: 50px;
}

.air_err_div {
	text-align: center;
	font-size: 50px;
}

.chute_err_div {
	text-align: center;
	font-size: 60px;
}

#chute_err{
	
}

/*
.read_init_test{
	position: absolute;
	top: 580px;
	left: 11px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}
*/

#video_dlg{
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: #6BBA96;
}
#fix_timer_dlg{
	background-color: #6BBA96;
}

#vd_alert_dlg{
	background-color: #6BBA96;
	text-align:center;
}
#vd_alert_message{
	color: red;
	font-size: 40px;
}

.vd_bt{
	background: #6DCBB0;
	font-weight: bold;
}

/* top button start */
.vd_top_bt {
	position:absolute; 
	top:325px;
	left:11px;
}

#all_save{
	color: white;
	position:absolute; 
	width:230px;
	left:0px; 
	height:50px;
	text-align: center;
	font-size: 30px;
}
#FIX{
	color: white;
	position:absolute; 
	left:246px; 
	height:50px;
	width:200px;
	text-align: center;
	font-size: 30px;
}
/* top button end */

.video_title{
	font-size: 25px;
	margin: 10px;
}

/*  top line */
.dv_type{
	text-align: center;
	position: absolute;
	top: 400px;
	left: 11px;
}
#rgb_type {
	color: white;
	font-size:30px;
	width:140px;
	height:40px;
}
.dv_Part {
	text-align: center;
	position: absolute;
	top: 400px;
	left: 175px;
}
#vd_part {
	color: white;
	font-size:30px;
	width:120px; 
	height:40px;
}
.dv_comp {
	text-align: center;
	position: absolute;
	font-size: 19px;
	top: 400px;
	left: 315px;
}
#component_list {
	color: white;
	font-size:30px;
	height:40px;
	width: 230px;
}
.dv_gain {
	text-align: center;
	position: absolute;
	top: 400px;
	left: 565px;
	
}
#gain{
	color: white;
	font-size:30px;
	width:130px;
	height:40px;
}

#dv_bg_f_dlg{
	background-color: #6BBA96;
}

#dv_bg_r_dlg{
	background-color: #6BBA96;
}

#bgf-bt{
	position:absolute;
	top:50px;
	left:65px;
}

#bg_f_val{
	width:110px; 
	height:52px;
	text-align:center;
	font-weight: bold;
}

#bg_r_val{
	width:110px; 
	height:52px;
	text-align:center;
	font-weight: bold;
}

#bgr-bt{
	position:absolute;
	top:50px;
	left:65px;
}

#bg_f_display_val{
	background-color: #6BBA96;
	position: absolute;
	text-align: center;
	top: 390px;
	left: 710px;
	height: 40px;
	width: 100px;
	font-size: 23px;
	font-weight: bold;
}

#dv_bg_f_bt {
	color: white;
	text-align: center;
	position: absolute;
	top: 449px;
	left: 710px;
	height:40px;
	width: 280px;
	font-size: 23px;
	font-weight: bold;
}

.bg_f_arrow_button {
	position:relative;
	top:27px;
	width: 70px;
	height: 70px;
}

#bgf_slider{
	position: absolute;
	left: 50px;
	top:20px;
}			

/*  bottom line */
.dv_form {
	text-align: center;
	position: absolute;
	top: 510px;
	left: 11px;
}

#form{
	color: white;
	font-size: 30px;
	width:140px; 
	height:40px;
}

#bg_r_display_val{
	background-color: #6BBA96;
	position: absolute;
	text-align: center;
	top: 510px;
	left: 710px;
	height: 40px;
	width: 100px;
	font-size: 23px;
	font-weight: bold;
}

#dv_bg_r_bt{
	color: white;
	text-align: center;
	position: absolute;
	top: 560px;
	left: 710px;
	height: 40px;
	width: 280px;
	font-size: 23px;
	font-weight: bold;
}
.bg_r_arrow_button{
	position:relative;
	top:27px;
	width: 70px;
	height: 70px;
}
#bgr_slider{
	position: absolute;
	left: 50px;
	top:20px;
}

#mode_copy_dlg{
	background-color: #6BBA96;
}

.mode_bts {
	height: 70px;
	width: 220px;
}
.mode_gui_bts{
	margin-top: 11px;
	height: 70px;
	width: 450px;
	font-weight: bold;
}

.mode_bts_div {
	float: left;
	position: absolute;
	top: 300px;
	left: 40px;
	margin: 11px;
	font-size: 30px;
	font-weight:bold;
}

#src_tg_div{
	position: absolute;
	top: 100px;
	left: 52px;
	font-weight:bold;
}

.target_div {
	position: relative;
	top: 30px;
}
#target_mode {
	width: 823px;
	height: 40px;
	font-weight:bold;
	text-align: center;
}

.valid_check_btn_div { 
	position: absolute;
	top: 470px;
	left: 0px;
	font-size: 10px;
}

#valid_check_btn_1{
	border: none;
	width: 60px;
	height: 60px;
	
	background:#6BBA96;
	
	position: absolute;
	top: 30px;
	left: 0px;
}

#valid_check_btn_2{
	border: none;
	width: 60px;
	height: 60px;
	
	background:#6BBA96;
	
	position: absolute;
	top: 30px;
	left: 940px;
}

/* date config style start */

table, th, td {
/*
    border: 3px solid black;
    border-collapse: collapse;
	*/
}

th, td {
    font-size: 30px;
}
#date_table_1{
	position: absolute;
	top: 50px;
}

#date_table_2{
	position: absolute;
	top: 250px;
}
/*
#date_table_3{
	position: absolute;
	top: 400px;
}
*/
#date_config{
	
	background-color: #6BBA96;
}

#title_1, #title_2{
	font-size: 40px;
	/* height: 50px; */
}
.date_bt{
	width: 70px;
	height: 70px;
}

.day_div, .month_div, .year_div, .hour_div, .min_div, .sec_div{
	
}

.date_val{
	position: relative;
	top: -25px;
	width: 120px;
	height: 50px;
	font-weight: bold;
	text-align: center;
	background-color: #04B486;
}

.dt_push_bts{
	width: 270px;
	height: 70px;
}
/* date config style end */

/* version dialog start */
#version_dlg{
	background-color: #6BBA96;
	
}

.version_datas{
	font-size: 12px;
	font-weight: bold;
	color: #F8FBEF;
	width:80px;
	height:30px;
	text-align: center;
	background-color: #6DCBB0;
}

.version_titles{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.version_tr {
	
}

#version_tb{
	position: absolute;
	top: -8px;
}

#version_btn{
	position: absolute;
	top: 8px;
	left: 770px;
	width: 200px;
	height: 50px;
	font-size: 30px;
	font-weight:bold;
}

/* version dialog end */